.menu-trigger {
  text-align: center;
  display: none;
}

.logo {
  display: inline-block;
  height: 110px;
}

.social {
  display: flex;
  align-self: center;
  justify-self: center;
}

header {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;
  & ul {
    padding: 0;
    margin: 0;
    align-self: center;
    text-align: center;
  }
  & li {
    align-self: center;
    padding-left: 5px;
    display: inline-block;
    :hover {
      text-decoration: underline;
      background-color: #F11E22;
      color: aquamarine;
      transition: 1s;
    }
  }
  & a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #F8ECC2;
  }
}

.menu-items-box {
  display: grid;
}

.menu-items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  & input {
    width: 150px;
    height: 30px;
  }
  & button {
    width: 30px;
    height: 30px;
    margin-left: -3px;
    background-image: url('https://findicons.com/files/icons/2357/dortmund/32/search.png');
    background-repeat: no-repeat;
  }
}

.search-box {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  padding-right: 10px;
}

@media only screen and (max-width: 780px) {
  .menu-items{
    display: none;
  }

  .menu-trigger{
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .logo{
    display: flex;
    align-self: center;
    justify-self: center;
  }

  .search-hidden{
    display: flex;
    align-self: center;
    justify-self: center;
  }

  .menu-items-box{
    grid-column: 1 / span 3;
  }

  header {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    & ul {
      display: none;
      padding-left: 0;
    }
    & li {
      display: block;
      text-align: center;
      padding-left: 0;
    }
  }
}