@import "icons";
@import "header";
@import "main";
@import "aside";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, sans-serif;
  z-index: 0;
}

// all content in this container
.container {
  padding: 0;
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: auto auto auto;
}

// main and aside tags
.content {
  display: grid;
  grid-template-columns: 80% 20%;
}

// main button styling
button {
  height: 30px;
  width: 100%;
  background-color: $marvel-color;
  border-radius: 5px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: red;
    transition: 1s;
  }
}

// footer
footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  color: white;
  & .logo {
    height: 60px;
  }
  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    text-align: center;
  }
}

@media only screen and (max-width: 780px) {
  // search box for comments
  .search-comment-menu {
    & input {
      width: 90%;
    }
    & button {
      width: 10%;
      min-width: 30px;
    }
  }

  //main content will take hole place
  //aside goes under main
  .content {
    grid-template-columns: 100%;
  }

  // hide social icons in footer
  .social {
    display: none;
  }
}
