html, body {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}
.menu-trigger {
  text-align: center;
  display: none;
}

#logo {
  display: inline-block;
  height: 100px;
}

.social{
  display: inline-block;
  color: white;
}

header ul {
  display: inline-block;
}

header {
  width: 100%;
  background-color: black;
}
header li {
  display: inline-block;
}
header a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #F8ECC2;
}
header a:hover {
  background-color: red;
}

@media screen and (max-width:780px) {
  header ul {
    display: none;
    padding-left: 0;
  }
  header li {
    display: block;
    text-align: center;
  }
  header a {

  }
  .menu-trigger {
    display: inline-block;
  }

  #logo {
    display: inline-block;
    height: 100px;
  }

  #hamburger {
    height: 20px;
  }

  .social{
    display: none;
  }
}

.facebook, .google, .tweeter {
  background-image: url('http://www.pngmart.com/files/3/Social-Icons-PNG-Pic.png');
  background-repeat: no-repeat;
  background-size: 200px;
  height: 32px;
  width: 32px;
  display: inline-block;
  &:hover {
    transform: rotate(360deg);
    transition: 1s;
    cursor: pointer;
  }
}

.facebook {
  background-position: -9px -7px;
}

.tweeter {
  background-position: -121px -7px;
}

.google {
  background-position: -46px -7px;
}

.search {
  background-image: url('https://findicons.com/files/icons/2357/dortmund/32/search.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  &:hover {
    transform: rotate(360deg);
    transition: 1s;
    cursor: pointer;
  }
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
}

.content{
  display: grid;
  grid-template-columns: auto auto;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
}

article > img {
  width: 150px;
}